---
import ProductHome from "@leaningtech/astro-theme/layouts/ProductHome.astro";
import LinkButton from "@leaningtech/astro-theme/components/LinkButton.astro";
import heroAsset from "../assets/cheerpcube.png";
import { Image } from "astro:assets";
---

<ProductHome style = "px-6 py-10 w-full  mx-auto bg-gradient-to-b to-[#2f8f8a] from-stone-900">

	<section class="px-48 flex col-span-2 items-center">
		<div class="mx-auto max-w-[56em] text-center space-y-12">
			<h1
				class="text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold my-4 text-left"
			>
				How <span class="text-[#8e88ff]">C++ engineers</span>  build web applications
			</h1>
			<p class="text-lg text-balance text-white text-left">
				Cheerp is an <b>enterprise-grade</b> compiler toolchain
				that can <b
					>compile C/C++ into efficient WebAssembly and JavaScript</b>. It is open source, liberally licensed, and actively developed by
				Leaning Technologies.
			</p>
			<div class="flex gap-4 justify-left mt-12">
				<LinkButton
					type="primary-cheerp"
					href="/docs/getting-started/tour"
					label="Take a 5-minute tour"
				/>
				<LinkButton
					type="secondary-cheerp"
					href="/docs/getting-started/installation"
					iconLeft="mi:download"
					label="Install Cheerp"
				/>
			</div>
			
		</div>
		<div class="p-12 lg:py-16">
			<Image src={heroAsset} alt="Cheerp Logo in a cube">
		</div>
		
		
	</section>
	<!-- TODO: video -->
	<!-- TODO: client company logos -->
	<section class="py-16 max-w-[60em] mx-auto">
		<h2 class="text-4xl font-semibold text-center pb-8">Benefits</h2>
		<div class="grid grid-cols-2 gap-8">
			<div>JavaScript interoperability</div>
			<div>
				Export C++ with <code>[[cheerp::jsexport]]</code>
			</div>
			<div>Combine memory models</div>
			<div>Maintain one code base</div>
		</div>
	</section>
	<!-- TODO: how it works (user story) -->
	<!-- TODO: testimonials -->
	<!-- TODO: FAQ -->
	<section class="py-16 text-center">
		<h2 class="text-4xl font-semibold text-center pb-8">Give it a try!</h2>
		<LinkButton
			type="primary-cheerp"
			href="/docs"
			iconRight="mi:arrow-right"
			label="View documentation"
		/>
	</section>
</ProductHome>
