---
import { Icon } from "astro-icon";
import BlogPostCard from "../BlogPostCard.astro";
import { latestFeaturedPost } from "../../lib/blog";

const post = await latestFeaturedPost(Astro.url);
---

<section class="w-[40rem] max-w-full p-8 mx-auto my-16">
	<div class="flex items-center mb-4 text-stone-400">
		<h2 class="font-semibold grow">Latest blog posts</h2>
		<a href="/blog" class="hover:text-primary-500 flex items-center gap-1">
			View all posts <Icon name="mdi:arrow-right" class="w-4 h-4" />
		</a>
	</div>
	{post && <BlogPostCard {post} />}
</section>
