---
import { Icon } from "astro-icon";

import BlogPostCardSet from "../BlogPostCardSet.astro";
---

<section class="py-16 bg-stone-800">
	<div class="mx-auto max-w-screen-2xl px-6">
		<h2 class="text-4xl font-semibold dark:text-white mb-6 text-center">
			From the blog
		</h2>
		<BlogPostCardSet />
		<div class="flex flex-row-reverse mt-4">
			<a
				href="/blog"
				class="text-stone-400 hover:text-primary-500 flex items-center gap-1"
			>
				View all blog posts <Icon name="mdi:arrow-right" class="w-4 h-4" />
			</a>
		</div>
	</div>
</section>
