---
import Nasa from "../../assets/branding/landing_imgs/clients/nasa2.png";
import TicketMaster from "../../assets/branding/landing_imgs/clients/ticketmaster.png";
import Ubs from "../../assets/branding/landing_imgs/clients/ubs.png";
import Leonardo from "../../assets/branding/landing_imgs/clients/leonardo.png";
import Blackbird from "../../assets/branding/landing_imgs/clients/blackbird.png";
import Phet from "../../assets/branding/landing_imgs/clients/phet.png";
import Siemens from "../../assets/branding/landing_imgs/clients/siemens.png";

const clientImages = [
	{ src: Nasa, alt: "NASA" },
	{ src: TicketMaster, alt: "TicketMaster" },
	{ src: Ubs, alt: "UBS" },
	{ src: Leonardo, alt: "Leonardo" },
	{ src: Blackbird, alt: "Blackbird" },
	{ src: Phet, alt: "Phet" },
	{ src: Siemens, alt: "Siemens" },
];
---

<ul
	class="flex justify-items-center justify-between gap-16"
	aria-label="Clients"
>
	{
		clientImages.map(({ src, alt }) => (
			<li class="flex-none">
				<img
					src={src}
					alt={alt}
					loading="lazy"
					decoding="async"
					class="opacity-50 h-16 grayscale contrast-0"
				/>
			</li>
		))
	}
</ul>
