---
//import { Icon } from "astro-icon";
import LinkButton from "../LinkButton.astro";
import AnimatedText from "./AnimatedText.svelte";
import Doodle from "./Doodle.svelte";
import { DISCORD_URL } from "../../consts";
import ClientCarousel from "./ClientCarousel.astro";
import logotype from "../../assets/branding/company/logotype-white.svg";
---

<header class="min-h-[calc(100vh-65px)] flex flex-col items-center">
	<div class="grow"></div>

	<div
		class="w-full max-w-screen-xl px-4 sm:px-8 py-16 space-y-4 md:grid grid-cols-3"
	>
		<div class="flex items-center col-span-2">
			<div>
				<h1
					class="text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold"
				>
					Run
					<span class="font-bold text-primary-500">
						<AnimatedText client:idle />
					</span>
					<br />in the browser.
				</h1>
				<p class="text-xl mt-8 text-stone-400 leading-6">
					Client-side developer tools built with WebAssembly.
				</p>
				<div class="mt-8 md:space-x-1 space-y-2">
					<LinkButton
						href="/docs"
						label="Get started"
						type="primary"
						iconRight="mdi:arrow-right"
					/>
					<LinkButton
						href={DISCORD_URL}
						label="Find out more"
						type="secondary"
						iconRight="mdi:arrow-right"
					/>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<Doodle client:idle />
		</div>
	</div>

	<div class="p-16 overflow-hidden">
		<ClientCarousel />
	</div>

	<div class="grow"></div>

	<!-- Scroll prompt -->
	<!--<a
		href="#after-hero"
		class="hidden md:inline-block p-6 text-stone-400 hover:text-white transition-colors"
	>
		<Icon name="mdi:chevron-down" class="w-8 h-8 animate-bounce" />
	</a>-->
</header>

<a id="after-hero"></a>
