---
import ProductHome from "@leaningtech/astro-theme/layouts/ProductHome.astro";
import LinkButton from "@leaningtech/astro-theme/components/LinkButton.astro";
import { Image } from "astro:assets";
import HeroDoodle from "../assets/robot_hero.png";
import CatboxDoodle from "../assets/box.png";
import KeyboardcatDoodle from "../assets/keyboard-cat.png";
import TicketDoodle from "../assets/ticket.png";
import UFODoodle from "../assets/ufo-cat.png";
import ShoeDoodle from "../assets/bishop-shoe.png";
import WizardDoodle from "../assets/wizard-cat.png";
import CalendarAsset from "../assets/calendar.png";
import { DISCORD_URL } from "@leaningtech/astro-theme/consts";
import Alessandro from "../assets/judges/alessandro.jpeg";
import Jules from "../assets/judges/jules.jpeg";
import Martin from "../assets/judges/martin.jpeg";
import Luca from "../assets/judges/luca.jpeg";
import RuleBook from "../assets/rulebook.png";
import Directions from "../assets/direction.png";
---

<ProductHome style="w-full pt-8 bg-gradient-to-b from-[#0b0923] to-black">
	<!-- Hero -->
	<section>
		<div class="lg:hidden justify-center px-32 py-8 sm:px-80 sm:pt-8">
			<Image src={HeroDoodle} alt="WebVM logo in a screen" class=""/>
		</div>
		<div
			class="flex grid-cols-3 items-center px-4 pb-28 md:px-4 md:pt-4 lg:px-28 lg:pt-32 xl:pt-42 xl:px-28 2xl:px-48 3xl:px-602xl:pt-60"
		>
			<div
				class="col-span-2 mx-auto max-w-[56em] text-center space-y-4 sm:px-8"
			>
				<h1
					class="font-mono text-white text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold text-center lg:text-left text-wrap text-balance"
				>
					<span class="text-primary-300">WebVM:</span>The hackathon II!
				</h1>
				<p
					class="font-mono text-xl md:text-3xl text-balance text-[#00b8a9] text-center lg:text-left"
				>
					Join the terminal tools challenge!
				</p>
				<h1
					class="font-mono text-xl text-balance text-primary-300 text-center lg:text-left"
				>
					Coming up this spring 2025
				</h1>
				<p
					class="font-mono text-md text-wrap text-balance text-white text-center px-2 py-4 lg:text-left"
				>
					<b>WebVM: The hackathon</b> is a global hybrid event open to all developers!
					Dive into the world of terminal-based solutions by leveraging <b
						>CheerpX, a WebAssembly-powered tool for executing x86 binaries on
						the browser.</b
					> Let your creativity flow and showcase your coding skills in this exciting
					event.
				</p>
				<div class="flex gap-4 justify-center lg:justify-start mt-12">
					<LinkButton
						type="primary-mono"
						href={DISCORD_URL}
						label="Discord"
						iconRight="ic:baseline-discord"
					/>
					<LinkButton
						type="secondary-mono"
						href="/docs"
						iconRight=""
						label="CheerpX docs"
					/>
				</div>
			</div>
			<div class="hidden lg:block flex justify-center 2xl:pl-32 2xl:px-16">
				<Image src={HeroDoodle} alt="WebVM logo in a screen" class="" />
			</div>
		</div>
	</section>

	<section
		id="guide"
		class="py-16 px-4 md:px-8 lg:px-28 xl:px-28 2xl:px-48 3xl:px-602 bg-black"
	>
		<div class="px-8">
			<h1
				class="pb-4 font-bold text-white font-mono text-xl sm:text-2xl md:text-3xl text-center"
			>
				How Does it all work?
			</h1>
			<p
				class="font-mono text-lg sm:text-xl text-white text-pretty text-center"
			>
				In a nutshell: assemble your tech squad together, immerse yourself in a
				tech project frenzy for a whole week. <b class="text-primary-300"
					>The winner team gets a sweet 500 GBP gift card!</b
				>
				More information coming soon, stay tuned! 🚀.
			</p>

			<p
				class="font-mono text-lg sm:text-xl text-white text-pretty text-center py-10"
			>
				In the mean time take a look to the
				<a
					class="text-[#00b8a9] hover:underline"
					href="https://github.com/leaningtech/WebVMHackathon/blob/main/results2024.md"
				>
					2024 edition repository
				</a>
				.
			</p>
		</div>
	</section>
</ProductHome>
