---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import DemoCard from "@leaningtech/astro-theme/components/DemoCard.astro";
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import ShowcaseDoodle from "./reflectors.png";
import { productFromUrl } from "@leaningtech/astro-theme/products";
import ProductNav from "@leaningtech/astro-theme/components/nav/product/Nav.astro";

const product = productFromUrl(Astro.url);

const demos = await getCollection(
	"showcase",
	({ data }) =>
		data.draft !== true &&
		(!product ||
			data?.tags?.includes(
				product.name as "Cheerp" | "CheerpJ" | "CheerpX" | "BrowserPod"
			))
);
---

<Shell
	title="Demo showcase"
	description={`Discover projects built with our technologies`}
>
	{product && <ProductNav {product} />}
	<header class="text-center text-stone-100">
		<div class="relative flex justify-center pt-10 items-center">
			<Image
				src={ShowcaseDoodle}
				width="500"
				height="129"
				class="invisible md:visible"
				alt="reflectors"
			/>
			<div class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full">
				<h1 class="text-5xl font-bold tracking-tight text-balance">
					Demo showcase
				</h1>
			</div>
		</div>

		<p class="md:text-xl sm:text-lg text-balance mb-8 mt-4 text-stone-300">
			{
				`Discover projects and demos built with our technologies by our developers, community and collaborators`
			}
		</p>
	</header>

	<section class="pb-24 px-12 mx-auto w-full max-w-screen-2xl">
		<ul class="grid grid-cols-1 md:grid-cols-2">
			{
				demos.map((demo, i) => (
					<li
						class={`flex md:justify-stretch md:items-stretch
          ${i % 2 === 0 ? "md:border-r" : ""}
          ${i >= 2 ? "md:border-t" : ""}
          border-stone-800
        `}
					>
						<DemoCard {demo} showMetadata size="wide" />
					</li>
				))
			}
		</ul>
	</section>

	<Footer />
</Shell>
