---
import { getCollection } from "astro:content";
import DemoCard from "@leaningtech/astro-theme/components/DemoCard.astro";
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import ProductFilter from "../../components/ProductFilter.svelte";

const demos = await getCollection(
	"showcase",
	({ data }) => data.draft !== true
);
---

<Shell
	title="Demo showcase"
	description={`Discover projects built with our technologies`}
>
	<header class="text-center py-20">
		<h1
			class="text-6xl md:text-7xl font-bold tracking-tight text-balance mb-6 bg-gradient-to-b from-white to-stone-400 bg-clip-text text-transparent"
		>
			Demo showcase
		</h1>
		<p class="md:text-xl text-balance text-stone-400 max-w-2xl mx-auto">
			Discover projects and demos built with our technologies by our developers,
			community and collaborators
		</p>
	</header>

	<section class="pb-24 px-12 mx-auto w-full max-w-screen-2xl">
		<ProductFilter client:load />
		<ul class="grid grid-cols-1 md:grid-cols-2" data-filter-grid="showcase">
			{
				demos.map((demo, i) => (
					<li
						class={`flex md:justify-stretch md:items-stretch
          ${i % 2 === 0 ? "md:border-r" : ""}
          ${i >= 2 ? "md:border-t" : ""}
          border-stone-800
        `}
						data-tags={demo.data.tags?.join(",") ?? ""}
					>
						<DemoCard {demo} showMetadata size="wide" />
					</li>
				))
			}
		</ul>
	</section>

	<Footer />
</Shell>
