---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import ProductFilter from "../../components/ProductFilter.svelte";

const demos = (
	await getCollection("showcase", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.score - a.data.score);

const showcaseCards = await Promise.all(
	demos.map(async (demo) => ({
		slug: demo.slug,
		title: demo.data.title,
		description: demo.data.description,
		href: `/showcase/${demo.slug}`,
		imageSrc: demo.data.hero_image
			? (await getImage({ src: demo.data.hero_image, width: 600, height: 400 }))
					.src
			: undefined,
		tags: demo.data.tags ?? [],
		categories: demo.data.project_type,
	}))
);
---

<Shell
	title="Demo showcase"
	description={`Discover projects built with our technologies`}
	filterPage={true}
>
	<div class="bg-stone-950">
		<header class="text-center py-16">
			<h1
				class="text-6xl md:text-7xl font-bold tracking-tight text-balance mb-6 pb-2 bg-gradient-to-b from-white to-stone-400 bg-clip-text text-transparent"
			>
				Demo showcase
			</h1>
			<p class="md:text-xl text-balance text-stone-400 max-w-2xl mx-auto">
				Discover projects and demos built with our technologies by our
				developers, community and collaborators
			</p>
		</header>

		<section
			class="pb-24 px-4 sm:px-8 mx-auto w-full max-w-screen-2xl"
			data-filter-section
		>
			<ProductFilter
				client:load
				searchPlaceholder="Search demos…"
				cards={showcaseCards}
				gridType="showcase"
			/>
		</section>
	</div>

	<Footer />
</Shell>
