---
import DocsArticle from "../../layouts/DocsArticle.astro";

// TODO: make this a bespoke page
---

<DocsArticle title="Cheerp" id="__special_index__" headings={[]}>
	<p>Cheerp index page</p>
</DocsArticle>
