---
import DocsArticle from "../../layouts/DocsArticle.astro";

// TODO: make this a bespoke page
---

<DocsArticle title="Cheerp" id="__special_index__" headings={
	[ 
		{depth: 1, slug: "nothing to show", text: "nothing to show"}
		
	]
}>
	<p>Cheerp index page</p>
</DocsArticle>
