---
import Shell from "../../layouts/Shell.astro";
import ProductNav from "../../components/ProductNav.astro";
import cheerp from "./product";
---

<Shell>
	<ProductNav {...cheerp} />
	<main>
		<h1>Cheerp</h1>
	</main>
</Shell>
