---
import Search from "@/components/search/Search.astro";
import Footer from "../components/Footer.astro";
import Shell from "../layouts/Shell.astro";
---

<Shell>
	<main
		class="grow flex items-center justify-center bg-[url('/404/bg.svg')] bg-center bg-[length:100px]"
	>
		<div class="space-y-6">
			<h1 class="text-6xl font-medium italic">Page not found!</h1>
			<Search />
		</div>
	</main>

	<Footer includeGrow={false} />

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			plausible("404", { props: { path: document.location.pathname } });
		});
	</script>
</Shell>
