---
import LinkButton from "../LinkButton.astro";
import Icon from "astro-icon";
---

<script is:inline>
	let agent = window.navigator.userAgent;
	console.log(agent);
</script>

<div class="mt-8 flex flex-wrap gap-4" id="BrowserButtonContainer">
	<p></p>
</div>
