---
import LinkButton from "../LinkButton.astro";
import { Image } from "astro:assets";
import ScrollPrompt from "@/components/hero/ScrollPrompt.astro";
import JNLPBox from "./assets/box-JNLP.png";
import screenshots from "@/components/jnlp-page/assets/screenshots.png";
---

<header
	class="min-h-[calc(100vh-48px)] flex flex-col items-center bg-gradient-to-b to-[#e6275544] from-stone-950"
>
	<div class="grow"></div>

	<div
		class="w-full max-w-screen-xl px-4 sm:px-8 pt-32 space-y-4 md:grid grid-cols-3"
	>
		<div class="flex items-center col-span-2">
			<div>
				<p class="text-4xl mt-8 text-stone-500">CheerpJ JNLP Runner</p>
				<h1
					class="text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold my-4"
				>
					Run
					<span class="font-bold text-orange-500"> Java Web Start</span>
					<br />apps in the browser
				</h1>
				<p class="text-xl mt-8 text-stone-400 leading-7">
					Unleash the power of CheerpJ in an easy-to-use browser extension!
				</p>
				<p class="text-xl mt-8 text-stone-400 leading-7">
					Run Java Web Start Applications, including Oracle E-Business Suite and
					Oracle Forms Applications, without a Java Desktop installation.
				</p>
				<div class="mt-8 flex flex-wrap gap-4">
					<LinkButton
						href="https://chromewebstore.google.com/detail/cheerpj-jnlp-runner/achnhggjjhnadfapkmgallnbmemdojdi"
						label="Add to Chrome"
						type="primary"
						iconRight="ri:chrome-fill"
					/>
					<LinkButton
						href="https://microsoftedge.microsoft.com/addons/detail/cheerpj-jnlp-runner/dpleickbpchmkpkmicanfolmianepfhe"
						label="Add to Edge"
						type="primary2"
						iconRight="ri:edge-fill"
					/>
					<LinkButton
						href="/cheerpj-jnlprunner"
						label="Read the docs"
						type="secondary"
						iconRight="iconoir:google-docs"
					/>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<Image
				src={JNLPBox}
				alt="JNLP Runner logo in a tool box"
				class="object-contain"
			/>
		</div>
	</div>
	<div class="flex justify-center items-center">
		<Image class="scale-75" src={screenshots} alt="screenshots" />
	</div>
	<div class="p-16 w-full relative overflow-x-hidden"></div>

	<div class="grow"></div>

	<ScrollPrompt />
</header>

<a id="after-hero"></a>
