---
import Footer from "../components/Footer.astro";
import LinkButton from "../components/LinkButton.astro";
import Shell from "../layouts/Shell.astro";
---

<Shell>
	<main
		class="grow flex items-center justify-center bg-[url('/404/bg.svg')] bg-center bg-[length:100px]"
	>
		<div class="space-y-4">
			<h1 class="text-6xl font-bold">404</h1>
			<p>We couldn't find that page 😱</p>
			<LinkButton type="primary" href="/" label="Go home" />
		</div>
	</main>

	<Footer />

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			plausible("404", { props: { path: document.location.pathname } });
		});
	</script>
</Shell>
