---
// Docs page

import DocsArticle from "../layouts/DocsArticle.astro";
import { getRootNav, flattenNav, type NavEntry } from "../lib/nav";

export async function getStaticPaths() {
	const entries = flattenNav(await getRootNav());
	return entries.map((entry) => {
		return {
			params: {
				slug: entry.slug,
			},
			props: entry,
		};
	});
}

type Props = NavEntry;

const navEntry = Astro.props;

const collectionEntry =
	navEntry.type === "file" ? navEntry.collectionEntry : undefined;
const rendered = await collectionEntry?.render();
---

<DocsArticle
	title={collectionEntry?.data.title ?? navEntry.title}
	id={navEntry.id}
>
	{
		rendered ? (
			<rendered.Content />
		) : (
			/* Directory listing */
			navEntry.type === "directory" && (
				<ol>
					{navEntry.entries.map((child) => {
						return (
							<li>
								<a href={child.href}>{child.title}</a>
							</li>
						);
					})}
				</ol>
			)
		)
	}
</DocsArticle>
