---
import Footer from "../components/Footer.astro";
import Shell from "../layouts/Shell.astro";
import Hero from "../components/landing-page/Hero.astro";
---

<Shell>
	<div
		class="bg-gradient-to-b from-primary-600 to-transparent opacity-20 w-full h-[40rem] absolute inset-0 -z-10"
	>
		<!-- cool background -->
	</div>

	<Hero />
</Shell>
<Footer />
