---
import Footer from "../components/Footer.astro";
import Shell from "../layouts/Shell.astro";
---

<Shell>
	<div class="container mx-auto px-4 py-12 grow">
		<div class="md:columns-2">
			<div>
				<!-- https://github.com/tailwindlabs/tailwindcss/pull/11320 -->
				<h1 class="text-4xl font-semibold text-balance">
					Welcome to Leaning Technologies Developer!
				</h1>
				<p class="max-w-prose">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quidem,
					ut animi tempora vero sit voluptatibus aspernatur blanditiis adipisci
					ullam laboriosam deleniti et voluptas dolorem fuga? Dignissimos quis
					commodi officia?
				</p>
			</div>
			<img src="https://placekitten.com/400/300" />
		</div>
	</div>
	<Footer />
</Shell>
