---
import { Icon } from "astro-icon";
import Footer from "../components/Footer.astro";
import Shell from "../layouts/Shell.astro";
import Hero from "../components/landing-page/Hero.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import { latestFeaturedPost } from "../lib/blog";

const post = await latestFeaturedPost(Astro.url);

import Nasa from "../assets/branding/landing_imgs/clients/nasa2.png";
import TicketMaster from "../assets/branding/landing_imgs/clients/ticketmaster.png";
import Hebbian from "../assets/branding/landing_imgs/clients/Hebbian.png";
import Leonardo from "../assets/branding/landing_imgs/clients/leonardo.png";
import Blackbird from "../assets/branding/landing_imgs/clients/blackbird.png";
import Phet from "../assets/branding/landing_imgs/clients/phet.png";
import Gamepix from "../assets/branding/landing_imgs/clients/gamepix.png";

const clientImages = [
	{ src: Nasa, alt: "NASA" },
	{ src: TicketMaster, alt: "TicketMaster" },
	{ src: Hebbian, alt: "Hebbian" },
	{ src: Leonardo, alt: "Leonardo" },
	{ src: Blackbird, alt: "Blackbird" },
	{ src: Phet, alt: "Phet" },
	{ src: Gamepix, alt: "Gamepix" },
];
---

<Shell>
	<div
		class="bg-gradient-to-b from-primary-600 to-transparent opacity-20 w-full h-[40rem] absolute inset-0 -z-10"
	>
		<!-- cool background -->
	</div>

	<Hero />

	<section class="px-6 py-10 w-full max-w-screen-2xl mx-auto">
		<ul
			class="flex justify-items-center justify-between gap-8 overflow-hidden"
			aria-label="Clients"
		>
			{
				clientImages.map(({ src, alt }) => (
					<li class="flex-none">
						<img
							src={src}
							alt={alt}
							loading="lazy"
							decoding="async"
							class="opacity-50 h-20"
						/>
					</li>
				))
			}
		</ul>
		
	</section>
	<section class="w-[40rem] max-w-full p-8 mx-auto my-16">
		<div class="flex items-center mb-4 text-stone-400">
			<h2 class="font-semibold grow">
				Latest blog post
			</h2>
			<a
				href="/blog"
				class="hover:text-primary-500 flex items-center gap-1"
			>
				View all posts <Icon name="mdi:arrow-right" class="w-4 h-4" />
			</a>
		</div>
		{post && <BlogPostCard {post} />}
	</section>

	

	

	
</Shell>
<Footer />
