---
import type { CollectionEntry } from "astro:content";
import productLogotype from "../assets/branding/products/cheerp/logotype-white.svg";

interface Props {
	collection: CollectionEntry<"cheerp">[];
}

const links = Astro.props.collection;
const pathname = Astro.url.pathname.replace(".html", "");

// TODO: responsive - collapse to hamburger on sm
---

<aside class="w-64 xl:text-lg whitespace-nowrap overflow-hidden">
	<a href="/cheerp" class="block mb-8">
		<img src={productLogotype} alt="Cheerp" class="h-10" />
	</a>

	<ul class="space-y-1">
		{
			links.map((link) => {
				if (!link) throw new Error("dead link");

				const href = `/cheerp/${link.slug}`;
				const isActive = href === pathname;

				return (
					<li
						class:list={[
							"group px-1 py-0.5 border-l-4 border-transparent",
							{
								"font-semibold text-primary-500 !border-primary-500": isActive,
							},
						]}
					>
						<a {href} class="block">
							<span class="px-2 py-1 rounded group-hover:bg-stone-800">
								{link.data.title || link.id}
							</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</aside>
