---
import companyLogo from "../assets/branding/company/tower.svg";
import EventBanner from "./EventBanner.svelte";
import { Image } from "astro:assets";

const links = [
	{ name: "Cheerp", href: "/cheerp" },
	{ name: "CheerpJ", href: "/cheerpj" },
	{ name: "CheerpX", href: "/cheerpx" },
	{ name: "Blog", href: "/blog" },
];
---

<EventBanner client:idle />

<nav
	aria-label="Primary navigation"
	class="z-30 bg-stone-950 text-stone-400 text-sm"
>
	<div
		class="max-w-screen-2xl w-full mx-auto px-4 sm:px-6 md:px-8 h-12 whitespace-nowrap overflow-hidden flex items-center justify-between"
	>
		<a href="/" class="flex items-center gap-2">
			<Image
				src={companyLogo}
				alt="Leaning Technologies Logo"
				class="w-6 h-6"
			/>
			<span class="text-base text-stone-300">
				Leaning Technologies <span class="text-stone-400">Developer</span>
			</span>
		</a>
		<div class="flex items-center gap-4 ml-auto flex-none font-medium">
			{
				links.map((link) => (
					<a href={link.href} class="hover:text-white">
						{link.name}
					</a>
				))
			}
		</div>
	</div>
</nav>

<style is:global>
	:target {
		scroll-margin-top: 74px;
	}
</style>
