---
export interface Props {
	name: string;
	logotypeUrl: string;
	productHomeUrl: string;
}

const { name, logotypeUrl, productHomeUrl } = Astro.props;
---

<nav aria-label="Product navigation" class="bg-stone-800 text-white">
	<div
		class="container mx-auto h-16 p-2 sm:px-6 lg:px-8 flex items-stretch justify-between gap-6 whitespace-nowrap"
	>
		<a href={productHomeUrl} class="w-36 flex items-center">
			<img src={logotypeUrl} alt={name} />
		</a>
	</div>
</nav>
