---
export interface Heading {
	depth: number;
	slug: string;
	text: string;
	subheadings: Heading[];
}

interface Props {
	heading: Heading;
}

const { heading } = Astro.props;
---

<li>
	<a href={"#" + heading.slug} class="hover:text-stone-400">
		{heading.text}
	</a>

	{
		heading.subheadings.length > 0 && (
			<ul class="pl-5">
				{heading.subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
