---
export interface Heading {
	depth: number;
	slug: string;
	text: string;
	subheadings: Heading[];
}

interface Props {
	heading: Heading;
}

const { heading } = Astro.props;
---

<li>
	<a
		href={"#" + heading.slug}
		class:list={[
			"block py-1 text-stone-400 hover:text-stone-200",
			{
				"font-semibold": heading.depth <= 2,
			},
		]}
	>
		{heading.text}
	</a>

	{
		heading.subheadings.length > 0 && (
			<ol class="pl-4">
				{heading.subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
