---
// TableOfContentsHeading.astro

interface Props {
    heading : {
        depth: number,
        text: string,
        slug: string
    }
}
const { heading } = Astro.props;
---

<li>
  {
    heading.depth == 1 && (
        <a href={'#' + heading.slug} class="ml-6 p-1 hover:text-stone-400">
            {heading.text}
        </a>
    )
  }
  {
    heading.depth == 2 && (
      <ul>
        <a href={'#' + heading.slug} class="ml-8 hover:text-stone-400">
            {heading.text}
        </a>
      </ul>
    )
  }

</li>