---
import { getCollection } from "astro:content";
import BlogPostCard from "@leaningtech/astro-theme/components/BlogPostCard.astro";
import Shell from "@leaningtech/astro-theme/layouts/Shell.astro";
import Footer from "@leaningtech/astro-theme/components/Footer.astro";
import { getSite } from "@leaningtech/astro-theme/nav";
import ProductFilter from "../../components/ProductFilter.svelte";

const allPosts = (
	await getCollection("blog", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const site = getSite(Astro.site?.hostname);
---

<Shell
	title="Engineering blog"
	description="Read the latest updates from the Leaning Technologies development team about WebAssembly, compilers, and more."
	{site}
>
	<header class="text-center py-20 relative">
		<h1
			class="text-6xl md:text-7xl font-bold text-balance mb-6 bg-gradient-to-b from-white to-bg-300 bg-clip-text text-transparent"
		>
			Engineering blog
		</h1>
		<p class="text-lg text-balance text-bg-400 max-w-xl mx-auto">
			News, technical writeups, and announcements directly from the development
			team.
		</p>
		<div
			class="bg-gradient-to-b from-primary-600 to-bg-900 opacity-20 w-full h-[40rem] absolute inset-0 -z-10"
		>
		</div>
	</header>

	<section class="pb-24 px-6 mx-auto w-full max-w-screen-xl">
		<ProductFilter client:load />
		<ul class="grid md:grid-cols-6 gap-8" data-filter-grid="blog">
			{
				allPosts.map((post, i) => (
					<li
						class={`flex md:justify-stretch md:items-stretch ${i < 2 ? "md:col-span-3" : "md:col-span-2"}`}
						data-tags={post.data.tags?.join(",") ?? ""}
					>
						<BlogPostCard {post} showMetadata size="wide" />
					</li>
				))
			}
		</ul>
	</section>

	<Footer />
</Shell>
