---
import Footer from "../components/Footer.astro";
import Shell from "./Shell.astro";
---

<Shell>
	<main class="px-6 py-10 w-full max-w-screen-2xl mx-auto">
		<slot />
	</main>
	<div class="grow"></div>
	<Footer />
</Shell>
