---
import { getCollection } from "astro:content";
import Shell from "./Shell.astro";
import DocsSidebar from "../components/DocsSidebar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

const collection = await getCollection("cheerp");
---

<Shell {title}>
	<div
		class="lg:container mx-auto w-full px-4 py-12 flex gap-8 justify-between"
	>
		<DocsSidebar {collection} />
		<main class="grow max-w-prose" data-pagefind-body>
			<div class="prose prose-stone dark:prose-invert">
				<div class="mb-6">Breadcrumbs here</div>
				<h1>{title}</h1>
				<slot />
			</div>
		</main>
		<aside class="w-32 xl:w-64 hidden lg:block">
			<h5 class="font-semibold mb-2">On this page</h5>
			<ul>
				<li>Table</li>
				<li>of</li>
				<li>contents</li>
			</ul>
		</aside>
	</div>
</Shell>
