---
import BaseHead from "../components/BaseHead.astro";
import GlobalNav from "../components/GlobalNav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
		/>
	</head>
	<body
		class="font-sans antialiased min-w-full min-h-screen flex flex-col m-0 p-0 bg-stone-900 text-stone-200"
	>
		<GlobalNav />
		<slot />
	</body>
</html>
