---
import BaseHead from "../components/BaseHead.astro";
import GlobalNav from "../components/GlobalNav.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark motion-safe:scroll-smooth">
	<head>
		<BaseHead
			title={title || SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			{image}
		/>
		<style is:global>
			.dark {
				color-scheme: dark;
			}

			::selection {
				background-color: rgba(230, 39, 85, 0.5);
			}
		</style>
	</head>
	<body
		class="font-sans antialiased min-w-full min-h-screen flex flex-col m-0 p-0 bg-stone-900 text-stone-200"
	>
		<GlobalNav />
		<slot />
	</body>
</html>
