name: Deploy

on:
  push:
    branches:
      - main
      - monorepo # TEMP

jobs:
  cheerpj:
    name: cheerpj.com/docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: cd sites/cheerpj && pnpm install --frozen-lockfile

      - name: Build global-navbar
        run: cd packages/global-navbar && pnpm run build

      - name: Build sites/cheerpj
        run: cd sites/cheerpj && pnpm run build

      - name: Deploy cheerpj.com/docs
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: sites/cheerpj/dist/
          remote_path: ${{ secrets.RSYNC_DEPLOY_PATH }}
          remote_host: ${{ secrets.RSYNC_DEPLOY_HOST }}
          remote_port: ${{ secrets.RSYNC_DEPLOY_PORT }}
          remote_user: ${{ secrets.RSYNC_DEPLOY_USER }}
          remote_key: ${{ secrets.RSYNC_DEPLOY_KEY }}

      - name: Copy global-navbar dist to WordPress plugin
        run: cp -r packages/global-navbar/dist packages/global-navbar/wordpress-plugin/global-navbar

      - name: Deploy global-navbar WordPress plugin
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: packages/global-navbar/wordpress-plugin/global-navbar/
          remote_path: ${{ secrets.RSYNC_DEPLOY_PATH_GLOBAL_NAVBAR }}
          remote_host: ${{ secrets.RSYNC_DEPLOY_HOST }}
          remote_port: ${{ secrets.RSYNC_DEPLOY_PORT }}
          remote_user: ${{ secrets.RSYNC_DEPLOY_USER }}
          remote_key: ${{ secrets.RSYNC_DEPLOY_KEY }}
